div.admonition.admonition-youtube {
  border-color: #ff0000; /* YouTube red */
}
div.admonition.admonition-youtube > .admonition-title:before {
  background-color: #ff0000;
}
div.admonition.admonition-youtube > .admonition-title:after {
  color: #ff0000;
  content: "\f26c"; /* fa-solid fa-tv */
}