jupyter-book
sphinx
sphinx-book-theme
jupyter-sphinx
pydata-sphinx-theme
IPython==7.2.9
jupyter_client
ipykernel
git+https://github.com/jelmer/googleanalytics.git@master
MyST-NB
matplotlib
pandas
pandas-bokeh
imageio
