jupyter-book
sphinx
sphinx-book-theme
jupyter-sphinx
pydata-sphinx-theme
IPython
jupyter_client
ipykernel
git+https://github.com/jelmer/googleanalytics.git@master
MyST-NB==0.13.1
matplotlib
pandas
pandas-bokeh
imageio
