jupyter-book>=0.7.0b
sphinx-book-theme
sphinx
matplotlib
ipython
jupyter-sphinx
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
sphinxcontrib-googleanalytics
sphinx_rtd_theme
IPython
jupyter_client
ipykernel